--- Kconfig	2019-03-27 00:18:00.000000000 -0500
+++ Kconfig.patched	2019-04-01 08:57:08.000000000 -0500
@@ -95,6 +95,12 @@
 	---help---
 	 This option adds a R/W kVM module parameter 'mmu_audit', which allows
 	 auditing of KVM MMU events at runtime.
+	 
+config KVM_VMX_PT
+	bool "KVM extension for Intel Processor Trace"
+	depends on KVM_INTEL
+	---help---
+	 Provides support for Intel Processor Trace in vmx mode.
 
 # OK, it's a little counter-intuitive to do this, but it puts it neatly under
 # the virtualization menu.
